@font-face {
    font-family: 'RiiTegakiFude';
    src: local("fonts/calligraphy-riitf.otf"), url(./fonts/calligraphy-riitf.otf) format("opentype");
}

body {
    margin: 0;
    font-family: 'RiiTegakiFude';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.corners {
    padding: 20px;
    margin: 40px;
    background-color: #ddd;
    border-radius:20px;
}

.jap {
    color: black;
    font-size: 1.875em;
    font-family: 'RiiTegakiFude';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.jap .small {
    color: black;
    font-size: 0.875em;
    font-family: 'RiiTegakiFude';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navigationItems {
    text-decoration: none;
    text-decoration-color: black;
    color: black;
    font-size: 1.875em;
}

.high {
    font-size: 1.875em;
    color:black;
    font-family: 'RiiTegakiFude';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.character {
    cursor: pointer;
    color: black;
}

.character:hover {
    color: darkred;
    cursor: pointer
}

.mid {
    font-size: 1.275em;
    color:black;
    font-family: 'RiiTegakiFude';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.char {
    color: dodgerblue;
}

.vcs {
    background-image: url("images/cheat-device.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 480px;
    height: 272px;
}
.lane {
    background-image: url("images/line.GIF");
    background-size: contain;
    background-repeat: no-repeat;
    height: 99px;
}
.lane2 {
    background-image: url("images/line_detection.GIF");
    background-size: contain;
    background-repeat: no-repeat;
    height: 99px;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
